body {
  background-color: rgba(144, 145, 144, 0.144);
}

#display {
  border: 10px solid rgb(189, 121, 39);
  width: 35%;
  height: 350px;
  text-align: center;
  margin: auto;
}

.colorplayers {
  border: 10px solid rgb(189, 121, 39);
  width: 30%;
  height: 150px;
  margin: 60px auto auto;
  display: flex;
}

.red {
  background: red;
  width: 150px;
  height: 150px;
  border-right: 10px solid rgb(189, 121, 39);
}

.blue {
  background: blue;
  width: 150px;
  height: 150px;
  border-right: 10px solid rgb(189, 121, 39);
}

.green {
  background: green;
  width: 150px;
  height: 150px;
  border-right: 10px solid rgb(189, 121, 39);
}

.yellow {
  background: yellow;
  width: 150px;
  height: 150px;
}

#container-button {
  text-align: center;
}

#start {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(144, 145, 144, 0.144);
}

#start:hover {
  opacity: 0.8;
}
